@define-color window_bg_color #282c34;
@define-color bg_alt_color #21252b;
@define-color theme_fg_color #abb2bf;
@define-color muted_fg_color #5c6370;

@define-color accent_color #61afef;
/* volumen / brillo */
@define-color success_color #98c379;
@define-color warning_color #e5c07b;
@define-color error_color #e06c75;

window#osd {
  border-radius: 999px;
  border: none;
  background: #{"alpha(@theme_bg_color, 0.8)"};

  #container {
    margin: 16px;
  }

  image,
  label {
    color: #{"@theme_fg_color"};
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar,
  segmentedprogress {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }

  trough,
  segment {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #{"alpha(@theme_fg_color, 0.5)"};
  }

  progress,
  segment.active {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #{"@theme_fg_color"};
  }

  segment {
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }
  }
}
